{% extends 'base.html' %}
{% block title %}
{{ super() }} - {{ title }}
{% endblock %}
{% block content %}
<h1>Flask Button Demo</h1>
<hr>
<form action="{{ url_for('greeting') }}" method="post">
    <div class="form-row align-items-center">
        <div class="col-sm-3 my-1">
            <label class="sr-only" for="formInputName">Введите ваше имя:</label>
            <input type="text" class="form-control" id="formInputName" name="username" required>
        </div>
        <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary">Нажми меня</button>
        </div>
    </div>
</form>
{% endblock %}
